<template>
<div>
  <b-container class="mt-5">
    <b-card no-body>
      <b-jumbotron header="Revista Wine" lead="Stripe - Firebase - Vue">
        <b-form-select @change="aditionalSelected = [];planSelected = 0;" class="mb-3" v-model="modeSelected" :options="modeOptions"></b-form-select><br>
        <b-form-select @change="aditionalSelected = [];" class="mb-3" v-model="planSelected" :options="planOptions"></b-form-select><br>
        <b-form-group label="Adicionar a la membrecia">
          <b-form-checkbox-group
            id="checkbox-adicionals"
            v-model="aditionalSelected"
            :options="aditionalOptions"
            name="adicionals"
            stacked
          ></b-form-checkbox-group>
        </b-form-group>
        <b-button @click="checkout()" :disabled="itemsList.length == 0" variant="success">
          Suscribirme por {{ total | currency }}
        </b-button>
      </b-jumbotron>
    </b-card>
  </b-container>
</div>
</template>

<script>
import { loadStripe } from '@stripe/stripe-js';

export default {
  name: 'App',
  data: () => ({
    loading: false,
    publishableKey: process.env.VUE_APP_STRIPE_PUBLISHABLEKEY,
    successUrl: process.env.VUE_APP_STRIPE_SUCCESSURL,
    cancelUrl: process.env.VUE_APP_STRIPE_CANCELURL,
    modeSelected: 'monthly',
    planSelected: '',
    aditionalSelected:[],
    stripe: null,
    products: []
  }),
  methods:{
    getInicialData() {
      let state = this
      
      state.products = {
        monthly: {
          membership: [],
          aditionals: []
        },
        yearly: {
          membership: [],
          aditionals: []
        }
      }

      // Retrieves notes collection
      this.$firestore.list('products/monthly/membership').then(function(items){
        state.products.monthly.membership = items.map( e => e.data )
      })

      this.$firestore.list('products/monthly/aditionals').then(function(items){
        state.products.monthly.aditionals = items.map( e => e.data )
      })

      this.$firestore.list('products/yearly/membership').then(function(items){
        state.products.yearly.membership = items.map( e => e.data )
      })

      this.$firestore.list('products/yearly/aditionals').then(function(items){
        state.products.yearly.aditionals = items.map( e => e.data )
      })
    },
    checkout () {
      this.stripe.redirectToCheckout({
        lineItems: this.itemsList,
        mode: 'subscription',
        successUrl: this.successUrl,
        cancelUrl: this.cancelUrl,
      })
      .then(function (result) {
        console.log(result)
      });
    }
  },
  async mounted(){
    this.stripe = await loadStripe(this.publishableKey)
    this.getInicialData()
  },
  computed: {
    modeOptions: function() {
      return [
        {value: 'monthly', text: 'Mensual' },
        {value: 'yearly', text: 'Anual' },
      ]
    },
    planOptions: function() {
      return this.products[this.modeSelected] == undefined ?
        [] :
        this.products[this.modeSelected].membership
    },
    aditionalOptions: function() {
      return  this.products[this.modeSelected] == undefined ?
        [] : 
        this.products[this.modeSelected].aditionals.map( e => {
          return {
            value: {price: e.value, quantity: 1},
            text: e.text
          }
        })
    },
    itemsList: function () {
      let product = this.planSelected.length > 0 ?
      [
        {
          price: this.planSelected,
          quantity: 1
        }        
      ] : [] 
      return product.concat(this.aditionalSelected)
    },
    total: function() {
      let suma = 0;

      if (this.products[this.modeSelected] == undefined) {
        return suma;
      }

      let selected = this.products[this.modeSelected].membership.find( e => e.value == this.planSelected );
      if (selected != undefined) {
        suma += selected.price
      }

      let additionals = this.aditionalSelected.map( e => e.price );
      suma +=  this.products[this.modeSelected].aditionals.reduce( (carry, current) => {
        if (additionals.indexOf(current.value) == -1) {
          return carry
        }

        return current.price + carry
      }, 0)
      return suma
    }
  },
  filters: {
    currency: function (value) {
        return '$ ' + parseFloat(value).toFixed(2);
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
